//顏色設定
$main_color: #FFEC3F;
$sub_color: #6ADDFD;
$focus_color: #F4FB3B;
$white: #fff;
$black: #000000;

//漸變
$transition: all .3s ease-in-out;

// bootstrap icon
// @mixin bIcon() {
//     display: inline-block;
//     justify-content: center;
//     align-items: center;
//     font-family: bootstrap-icons!important;
//     font-style: normal;
//     font-weight: normal!important;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     vertical-align: -0.125em;
// }
